body,
html {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#preload {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: rgb(10, 10, 10);
    color: #afafaf;
    font-family: monospace;
    font-size: 1.5em;
}

#preload p {
    margin-top: 2em;
    margin-left: 2em;
}

.theme-dark body {
    background:  rgb(10, 10, 10);
    color: whitesmoke;
}

.theme-light body {
    background:  rgb(240, 240, 240);
    color: black;
}

a {
    font-weight: bold;
}

#query {
    margin: 30px;
    margin-left: 35%;
    width: 30%;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    border-style: none;
}

#pageCanvas {
    width: 100%;
}

.toolbar {
    margin-bottom: 1em;
    font-size: medium;
    font-family: monospace;
}

.toolbar a {
    text-decoration: none;
    /*border-radius: 5px;*/
    margin-right: 1ch;
    padding: 0.5em;
}

.theme-dark .toolbar a, .theme-dark input {
    background: #afafaf;
    color: black;
}

.theme-dark .toolbar a:hover {
    background: rgb(220, 220, 220);
}

.theme-light .toolbar a, .theme-light input {
    background: #4f4f4f;
    color: #ffffff;
}

.theme-light .toolbar a:hover {
    background: #3f3f3f;
}

.separator {
    border-top-style: dashed;
    border-width: 0.2em;
    width: 100%;
    color: gray;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    position: fixed;
    bottom: 0em;
    padding-left: 20px;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.theme-dark {
    color: gray;
}

.theme-light footer {
    color: #3f3f3f;
}